input {
    font-family: var(--app-font);
    font-weight: 500;

    &::placeholder {
        color: #d1d1d1;
        opacity: 0.5;
    }
}

input[type='number'] {
    width: 40px;
    padding: 4px 5px;
    border-radius: 3px;
}

input[type='search'] {
    height: 2.25rem !important;
}
